:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card-img-top {
  max-width: 100px;
}

.rating span {
  color: gold;
}

img.large {
  max-width: 100%;
}
.cardHeight {
  height: 500px;
  align-items: center;
}
