:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card-img-top {
  max-width: 100%;
  padding: 30px 30px 30px 30px;
}
.mt-3 {
  display: block;
  align-items: center;
}

.rating span {
  color: gold;
}

img.large {
  max-width: 100%;
}

img.thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: white;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid red;
  color: red;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
}

a.header-link,
.header-link > a {
  color: white !important;
  font-weight: bold;
}

.header .dropdown-menu,
.header .dropdown-item {
  color: black !important;
  background-color: white;
}
.sub-header {
  background-color: #232f3e;
}

.cart-badge {
  position: absolute;
  color: #f08000;
  font-weight: bold;
  margin-left: 16px;
  margin-top: -3px;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}

.productText {
  margin-bottom: 20px;
  text-align: justify;
}

.productCard {
  margin-bottom: 20px;
  height: 600px;
}

.productCard:hover {
  border: 2px solid #f08000;
}

.productCard a {
  color: black;
  text-decoration: none;
  display: block;
  align-items: center;
  font-weight: bolder;
}
